body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.flex-container {
  display: flex;
}

form  {
  text-align: left;
}

#order-button {
  text-align: right;
}

h1 {
  margin: 0px;
}

h6 {
  margin: 0px;
}

.description  {
  text-align: left;
  /* width: 70%; */
}

.image-rating  {
  width: 30%;
  text-align: right;
}

img {
  width: 80%;
}

td {
	text-align: left;
	font-family: calibri;
	font-size: 	20pt;
}