.tabcontent {
    background-color: rgb(0,174,239);
    height: 60px;
    position: relative;
}

.frame {
  position: relative;
  width:  45%;
  height: 120px;  
  margin:   auto;
}

.logout {
    right: 0px;
    top:0px;
    height: 60px;
    width: 60px;
    background: rgb(242, 102,0);
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    position: absolute;

}

.navbar {
    background-color:rgb(0,148,204);
    overflow: auto;
  }
  
.navbar a {
  float: left;
  padding: 17px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23.5%; /* Four links of equal widths */
  text-align: center;
}
  
.navbar a:hover {
  background-color: yellow;
}

.navbar a.active {
  background-color: rgb(242, 102,0);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

h1 {
  margin-left: 10px;
}

body  {
  margin-top: 0px;
}