.avatar-collumn {
	width: 20%;
	padding: auto;
}

.avatar {
	border: solid black 1px;
	width: 90%;
	height: 90%;
	margin: 5%;
}

.title-review {
	font-size: 36pt;
	font-family: calibri;
	color: rgb(242,102,0);
	margin-bottom: 12px;
}
img {
    width: 100px;
    height: 100px;
    float: right;
    vertical-align: top;
    align : right;
}
.margin {
    margin-top: 0px;
    margin-left: 22px;
}

.author-review {    
    margin-top: 0px;
    font-family: calibri;  
    font-size: 12px; 
}

.rating {
    margin-top: 12px;
    font-family: calibri;    
    color : rgb(0, 55, 76);
    font-size: 20px;
}

button {
    right: 51%;
    width: 90px;
    height: 30px;
    padding: 0px;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top:17px;
    margin-left: 22px;
}

.back {
    background: white;
    color:rgb(217, 83, 79);
    float:left;
}

.submit {
    background: #2196F3;
    color: white;
    float: right;
}

