.frame {
    position: relative;
	width: 	45%;
	margin: 	auto;
}

body {
    font-family: Arial
}

h1 {
    color:	#FF8C00;
    font-size: 38pt;
    font-family: 'Dosis', sans-serif;
}

.title {
    font-family: 'Dosis', sans-serif;
    color: #FF8C00;
    font-size:25pt;
}

.author {
    font-family: 'Dosis', sans-serif;
    color: black;
    font-size:15pt;
}

.description {
    font-family: 'Dosis', sans-serif;
    color:grey;
    font-size:15pt;
}

button {
    float: right;
    right: 51%;
    width: 90px;
    height: 30px;
    padding: 0px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 3px;
}