body {
    font-family: Arial
}

.frame {
    position: relative;
	width: 	45%;
	height: 300px;	
	margin: 	auto;
}

h2 {
    font-size: 10pt;
    font-family: 'Dosis', sans-serif;
    color:	#FF8C00;
}
